* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #1b4332, #2d6a4f, #a68a64, #7f5539);
  background-size: cover;
}

/* Container untuk login & register */
.auth-container {
  background: rgba(255, 255, 255, 0.15);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
}

/* Judul */
.auth-container h1,
.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

/* Input */
form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background: #2d6a4f;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #1b4332;
}

/* Bottom link */
.bottom-text {
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

.bottom-text a {
  color: #fff;
  font-weight: bold;
}

/* Error / Success */
.error {
  color: yellow;
  text-align: center;
  margin-bottom: 10px;
}

.success {
  color: #00ff8c;
  text-align: center;
  margin-bottom: 10px;
}
